
<li class="dropdown-item inline list-group-item d-flex justify-content-between align-items-center"><a>Item 1------->$2.99</a><span class="badge badge-primary badge-pill">2</span><span class="btn badge badge-pill badge-danger">remove</span></li>
<li class="dropdown-item inline list-group-item d-flex justify-content-between align-items-center"><a>Item 1------->$2.99</a><span class="badge badge-primary badge-pill">2</span><span class="btn badge badge-pill badge-danger">remove</span></li>
<li class="dropdown-item inline list-group-item d-flex justify-content-between align-items-center"><a>Item 1------->$2.99</a><span class="badge badge-primary badge-pill">2</span><span class="btn badge badge-pill badge-danger">remove</span></li>
<li class="dropdown-item inline list-group-item d-flex align-items-center flex-center"><button type="button" class="btn btn-primary">Check out</button></li>
